.wrap {
    width: auto;
    height: auto;
    padding: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#signupbox {
    width: 670px;
    height: 960px;
    border: 2px solid rgb(144, 173, 228);
    border-radius: 15px;
    box-shadow: 0 0 20px rgb(144, 173, 228);

    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 470px;
    height: 818px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

h2 {
    width: 466px;
    font-size: 30px;
    color:rgb(66, 126, 238);
    font-weight: bold;
}

.inputbox {
    height:350px;
    display:flex;
    flex-direction: column;
}

.inputinfor input {
    border: none;
    width: 466px;
    height: 50px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.438);
}

.inputinfor {
    color:rgba(49, 49, 49, 0.89);
    width: 466px;
    height: 80px;
    margin-bottom: 20px;
}

.gender {
    width: 140px;
    display: flex;
    gap: 30px;
    align-items: center;
}

.gender label {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 13px;
    font-weight: bold;
}

.gender input{ 
    width: 16px; 
    height: 16px; 
    cursor: pointer;
}
    

.prbc {
    display:flex;
    width: 430px;
}

.prbc label{
        display: flex;
        align-items: center;
        gap:13px;
        font-size: 12px;
        font-weight: bold;   
}

.prbc input{
    width: 16px; height: 16px;
    cursor: pointer;
}

hr {
    width:466px;
    color:rgba(190, 199, 216, 0.425);
}

.signin {
    width:466px;
    height:75px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(64, 118, 219);
    border-radius: 15px;
    cursor: pointer;
    color: rgb(71, 130, 238);
    font-size: 18px;
}

